<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/error.css">
    <title>Acerca de LibrosYa</title>
</head>

<body>
    <div class="about-container">
        <img src="../img/about.png" alt="Acerca de LibrosYa" class="about-image">
        <h1>Acerca de LibrosYa</h1>
        <p>Somos una compañía apasionada por la literatura y el conocimiento. Fundada en 2022, LibrosYa se ha dedicado a
            conectar a lectores con una extensa variedad de títulos y géneros literarios. Nuestra misión es fomentar la
            cultura de la lectura y hacer que cada libro que busques esté al alcance de un clic.</p>
        <div class="about-details">
            <h2>Nuestros Valores</h2>
            <ul>
                <li>Pasión por los libros</li>
                <li>Compromiso con la educación y la cultura</li>
                <li>Excelencia en servicio al cliente</li>
                <li>Innovación constante</li>
            </ul>
        </div>
        <a href="/" class="home-button">Volver al Inicio</a>
    </div>
</body>

</html>