<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Detalles del Libro</title>
</head>

<body>
    <nav>
        <a href="/">Novedades</a>
        <a href="/books">Libros</a>
        <a href="/contact">Contacto</a>
        <a href="/about">Acerca de</a>
    </nav>

    <header>
        <h1 th:text="${book.title}">Detalles del Libro</h1>
    </header>

    <section class="book-details">
        <img th:src="@{'/img/books/' + ${book.title} + '.webp'}" th:alt="${book.title}" class="book-image-detail" />
        <div>
            <p><strong>Título: </strong><span th:text=" ${book.title}">Título del Libro</span></p>
            <p><strong>Autor: </strong><span th:text="${book.author}">Autor del Libro</span></p>
            <p><strong>ISBN: </strong><span th:text="${book.ISBN}">ISBN del Libro</span></p>
            <p><strong>Editorial: </strong><span th:text="${book.editorial}">Editorial del Libro</span></p>
            <p><strong>Año: </strong><span th:text="${book.year}">Año de Publicación</span></p>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Librería Libros del Saber. Todos los derechos reservados.</p>
        <p>Síguenos en nuestras redes sociales para obtener las últimas actualizaciones y ofertas.</p>
    </footer>
</body>

</html>