<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>

<body>
    <ul>
        <a th:each="book : ${books}" th:href="@{/books/{id}(id=${book.id})}">
            <!--<a th:each="book : ${books}" th:href="@{${'/books/' + book.id}}">-->
            <li th:text="|${book.title} - ${book.author}|">Texto por defecto</li>
        </a>
    </ul>
    <a href="/">Volver al Inicio</a>
</body>

</html>