<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Librería Libros del Saber</title>
</head>

<body>
    <nav class="nav-container">
        <a href="/about">Acerca de</a>
        <a href="/new-releases">Novedades</a>
        <a href="/search">Buscar</a>
        <a href="/contact">Contacto</a>
    </nav>

    <header class="main-header">
        <h1>Bienvenidos a Libros del Saber</h1>
        <p>Tu librería favorita para descubrir, explorar y comprar libros en línea.</p>
    </header>

    <section class="featured-books">
        <h2>Libros Destacados</h2>
        <div class="book">
            <img src="book-cover1.jpg" alt="Portada del libro">
            <h3>El Arte de la Guerra</h3>
            <p>Un tratado clásico sobre estrategia y táctica. Todo un must-read para los entusiastas del liderazgo.</p>
        </div>
        <div class="book">
            <img src="book-cover2.jpg" alt="Portada del libro">
            <h3>Cien Años de Soledad</h3>
            <p>Explora la rica historia de Macondo y la familia Buendía en esta obra maestra de Gabriel García Márquez.
            </p>
        </div>
        <div class="book">
            <img src="book-cover3.jpg" alt="Portada del libro">
            <h3>La Historia del Tiempo</h3>
            <p>Stephen Hawking nos lleva en un viaje a través del cosmos, explicando los misterios del universo.</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Librería Libros del Saber. Todos los derechos reservados.</p>
        <p>Síguenos en nuestras redes sociales para obtener las últimas actualizaciones y ofertas.</p>
    </footer>
</body>

</html>