@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    background-image: url(../img/background-city.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    background-color: rgba(255, 255, 255, .3);
}

header {
    padding: 2em 0;
    background-color: #bfbfbf;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: .5em;
    word-spacing: 1em;
    color: #172052;
    text-shadow: .1em .1em .2em;
}

section h2 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 1em;
    letter-spacing: .5em;
    color: #58160d;
    border-bottom: 2px solid #58160d;
}

h1,
section h2 {
    text-transform: uppercase;
}

section li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
}

.datos_cv div {
    display: inline-block;
    vertical-align: middle;
}

.imagen_datos {
    margin-left: 20%;
}

.imagen_datos img {
    width: 15em;
}

.texto_datos li {
    list-style-type: circle;
}

.formacion li {
    list-style-image: url(../img/figma.svg);
}

.experiencia li {
    list-style-type: square;
}