h1 {
    color: red;
}

h2 {
    background-color: blue;
    color: white;
}

h3 {
    font-family: verdana;
    color: brown;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

p {
    background-color: violet;
    font-size: 80px;
    height: 150px;
}





#span_movil {
    border: 2px solid black;
    vertical-align: middle;
    font-weight: bold;
    font-size: 15px;
}